$min-wrapper: 319px;
$max-wrapper: 1920px;
$viewport-mix: 1920;

$size-padding: 20px;
$min-size-padding: 10px;

$xxs: 320px;
$xs_middle: 419px;
$xs: 575px;
$sm_middle: 612px;
$sm: 767px;
$md_middle: 867px;
$md: 991px;
$lg_middle: 1099px;
$lg: 1199px;
$xl_middle: 1299px;
$xl: 1440px;
$xxl_middle: 1600px;
$xxl: 1920px;

//----------- COLORS -------------

$color-grey: #42567a;
$color-blue: #3877ee;
$color-lilac: #5d5fef;
$color-pink: #ef5da8;
$color-border: rgb(66 86 122 / 10%);

$color-background: #f4f5f9;
$color-white: #fff;
$color-black: #000;
//------------- FONTS ------------

$font: "PTSans", helvetica, arial, sans-serif;
$font-title: "PTSans", helvetica, arial, sans-serif;
$font-date: "BebasNeue", helvetica, arial, sans-serif;

$font-size: 16;
//-------------------------------
