.historical-events {
  position: relative;
  display: grid;
  grid-template-rows: repeat(5, max-content);
  grid-template-columns: 1fr 2fr;
  width: 100%;
  max-width: 1440px;
  font-family: $font;
  background: linear-gradient(
      to bottom,
      transparent calc(51.8vh - 1px),
      $color-border 51.8vh,
      transparent 51.8vh
    ),
    linear-gradient(to right, transparent calc(50% - 1px), $color-border 50%, transparent 50%);
  border-right: 1px solid $color-border;
  border-left: 1px solid $color-border;

  @include media-breakpoint-down($lg_middle) {
    background: transparent;
  }

  @include media-breakpoint-down($md_middle) {
    border: 0;
  }

  &__title {
    position: relative;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: max-content;
    margin-top: 170px;
    padding-left: 80px;

    @include media-breakpoint-down($lg_middle) {
      margin-top: 120px;
      @include font-rem(36);
    }

    @include media-breakpoint-down($md_middle) {
      margin-top: 80px;
      padding-left: 40px;
    }

    @include media-breakpoint-down($sm_middle) {
      margin-top: 59px;
      padding-left: 20px;
      font-size: 20px;
      line-height: 120%;
    }

    &::before {
      position: absolute;
      top: 10px;
      left: -1px;
      width: 5px;
      height: 89%;
      background: linear-gradient(180deg, $color-blue -5%, $color-pink 85%);
      content: '';

      @include media-breakpoint-down($lg_middle) {
        top: 2px;
        height: 94%;
      }

      @include media-breakpoint-down($md_middle) {
        background: transparent;
      }
    }
  }

  &__range-wrapper {
    grid-row: 2 / 3;
    grid-column: 1 / 3;

    @include media-breakpoint-down($md) {
      padding-bottom: 37px;
    }

    @include media-breakpoint-down($sm) {
      padding-bottom: 0;
    }
  }

  &__spinner-wrapper {
    position: absolute;
    top: 42.3%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);

    @include media-breakpoint-down($md) {
      position: unset;
      display: grid;
      grid-row: 5 / 6;
      grid-column: 2 / 3;
      align-items: center;
      width: 100%;
      height: 100%;
      margin-left: -29px;
      padding-top: 8px;
      transform: unset;
    }
  }

  &__navigation-wrapper {
    grid-row: 4 / 5;
    grid-column: 1 / 3;

    @include media-breakpoint-down($md) {
      grid-row: 5 / 6;
      grid-column: 1 / 2;
      padding-bottom: 13px;
    }
  }

  &__slider-wrapper {
    position: relative;
    grid-row: 5 / 6;
    grid-column: 1 / 3;
    height: 353px;
    padding-top: 56px;
    padding-bottom: 104px;

    @include media-breakpoint-down($md) {
      grid-row: 4 / 5;
      grid-column: 1 / 3;
      height: 310px;
      padding-top: 19px;
      padding-bottom: 50px;
    }

    @include media-breakpoint-down($sm) {
      height: 243px;
    }

    @include media-breakpoint-down($sm_middle) {
      height: 265px;
      padding-bottom: 0;
    }
  }
}
