.range {
  padding-top: 87px;
  padding-bottom: 152px;

  @include convert-vw(padding-left, 217);

  @include media-breakpoint-down($xl_middle) {
    padding-left: 80px;
  }

  @include media-breakpoint-down($md_middle) {
    padding-left: 40px;
  }

  @include media-breakpoint-down($sm_middle) {
    padding-left: 20px;
  }

  &__from,
  &__to {
    font-weight: 700;
    @include font-rem(200);
    line-height: 160px;
    text-align: center;
    letter-spacing: -0.037em;

    @include media-breakpoint-down($lg_middle) {
      @include font-rem(120);
      line-height: 100px;
    }

    @include media-breakpoint-down($sm) {
      @include font-rem(90);
      // line-height: 72px;
    }

    @include media-breakpoint-down($sm_middle) {
      font-size: 56px;
      line-height: 6px;
    }
  }

  &__from {
    color: #5d5fef;
  }

  &__to {
    color: #ef5da8;
    margin-left: 112px;

    @include media-breakpoint-down($sm_middle) {
      margin-left: 80px;
    }

    @include media-breakpoint-down($xs_middle) {
      margin-left: 31px;
    }
  }
}
