$color-from-mobile: #3877ee;
$color-to-mobile: #f178b6;

.range {
  padding-top: 87px;
  padding-bottom: 152px;
  font-family: $font;

  @include convert-vw(padding-left, 217);

  @include media-breakpoint-down($xl_middle) {
    padding-left: 80px;
  }

  @include media-breakpoint-down($md) {
    padding-bottom: 50px;
  }

  @include media-breakpoint-down($md_middle) {
    padding-left: 40px;
  }

  @include media-breakpoint-down($sm_middle) {
    padding-left: 20px;
    padding-bottom: 36px;
  }

  &__from,
  &__to {
    font-weight: 700;
    line-height: 160px;
    letter-spacing: -0.02em;
    text-align: center;
    @include font-rem(200);

    @include media-breakpoint-down($lg_middle) {
      @include font-rem(120);

      line-height: 100px;
    }

    @include media-breakpoint-down($sm) {
      @include font-rem(90);
    }

    @include media-breakpoint-down($sm_middle) {
      font-size: 56px;
      line-height: 6px;
    }
  }

  &__from {
    color: $color-lilac;

    @include media-breakpoint-down($sm) {
      color: $color-from-mobile;
    }
  }

  &__to {
    margin-left: 94px;
    color: $color-pink;

    @include media-breakpoint-down($sm) {
      color: $color-to-mobile;
    }

    @include media-breakpoint-down($sm_middle) {
      margin-left: 80px;
    }

    @include media-breakpoint-down($xs_middle) {
      margin-left: 31px;
    }
  }
}
