$color-button-shadow: rgb(56 119 238 / 10%);
$background-line: #c7cdd9;

.slider {
  width: 100%;
  font-family: $font;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &_visible {
    opacity: 1;

    @include media-breakpoint-down($md) {
      animation-name: SliderAnimation;
      animation-duration: 0.3s;
      animation-fill-mode: both;
      animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    }
  }

  &__header {
    display: none;

    @include media-breakpoint-down($md) {
      display: flex;
      flex-direction: column;
      padding-bottom: 19px;
    }
  }

  &__title {
    margin-bottom: 33px;
    padding-left: 80px;
    font-size: 18px;

    @include media-breakpoint-down($md) {
      padding-left: 40px;
    }

    @include media-breakpoint-down($sm) {
      font-size: 14px;
    }

    @include media-breakpoint-down($sm_middle) {
      padding-left: 20px;
    }
  }

  &__line {
    width: 87%;
    height: 1px;
    margin-left: 80px;
    background-color: $background-line;

    @include media-breakpoint-down($md) {
      margin-left: 40px;
    }

    @include media-breakpoint-down($sm_middle) {
      margin-left: 20px;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 80px;
    padding-left: 80px;

    @include media-breakpoint-down($md) {
      padding-right: 40px;
      padding-left: 40px;
    }

    @include media-breakpoint-down($sm_middle) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &__event {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;

    @include media-breakpoint-down($md) {
      min-width: 166px;
    }
  }

  &__year {
    margin-bottom: 15px;
    color: $color-blue;
    font-weight: 400;
    font-size: 25px;
    font-family: $font-date;
    letter-spacing: 1px;
    text-transform: uppercase;

    @include media-breakpoint-down($sm) {
      font-size: 16px;
      line-height: 120%;
    }
  }

  &__text {
    display: -webkit-box;
    overflow: hidden;
    color: $color-grey;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

    @include media-breakpoint-down($sm) {
      font-size: 14px;
      line-height: 145%;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: $color-white;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 15px $color-button-shadow;
  cursor: pointer;

  &::before {
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 6px;
    border: solid $color-blue;
    border-width: 0 2px 2px 0;
    content: "";
  }

  &:disabled {
    display: none;
  }

  &:focus {
    outline: 2px solid $color-pink;
    outline-offset: 4px;
  }

  @include media-breakpoint-down($md) {
    display: none;
  }
}

.swiper-button-prev {
  left: 23px;

  &::before {
    top: 16px;
    left: 17px;
    transform: rotate(135deg);
  }
}

.swiper-button-next {
  right: 38px;

  &::before {
    top: 16px;
    left: 15px;
    transform: rotate(-45deg);
  }
}

.swiper-slide {
  @include media-breakpoint-down($md) {
    min-width: 166px;
  }
}

@keyframes SliderAnimation {
  from {
    transform: translateY(15%);
  }
}
